.entry {
    background-color: #202225;
    border-radius: 0.3rem;
    margin: 0.875em 0;
    padding: 1em;
}

.entry:hover {
    background-color: #18191c;
}

.header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title {
    color: #fff;
    font-size: 1.2em;
}

.titleUnread {
    font-weight: bold;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
}

.meta {
    color: #72767d;
}

.content {
    color: #b9bbbe;
    margin-top: 0.5em;
}

.footer {
    color: #72767d;
}
