.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  overflow-x: hidden;

  background-color: lightGray;
}

.navbar {
  position: fixed;
  top: 0;
  height: 37px;
  left: 350px;
  right: 0;
  z-index: 10;

  background-color: darkGray;
}

.content {
  margin-left: 350px;
  margin-top: 50px;
}