.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    overflow-x: hidden;

    background-color: #2f3136;
}

.navbar {
    position: fixed;
    top: 0;
    height: 38px;
    left: 350px;
    right: 0;
    z-index: 10;

    background-color: #2f3136;
}

.content {
    margin-left: 350px;
    padding-top: 50px;
}
