.tree {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.category {
    cursor: pointer;
    color: var(--read-color);
}

.node {
    cursor: pointer;
    color: var(--read-color);
}

.category:hover {
    background-color: #292b2f;
}

.node:hover {
    background-color: #292b2f;
}

.selected {
    background-color: #40444b;
}

.unread {
    color: var(--unread-color);
}
